#header{
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 7vw;
    
}
#lien{
    display: flex;
    align-items: center;
    margin-left: 5px;
   
}

#lien li{
    margin-left: 10vw;
    list-style-type: none;
    color: rgb(215, 213, 209);
}

#lien li a{
    text-decoration: none; 
    color: rgb(136, 134, 130);

}
#logo{
    font-size: 2.5rem; 
    color: rgb(210, 17, 17);
    
}
#pdp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 12vh;


}
#contentPageAccueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.btnGroup{
    display: flex;
    justify-content: space-between;
    width: 18%;
    margin-top: 5vw;
    width: 40%;
    
}

.btnGroup a{
    color: #fff;
    text-decoration: none;
    background-color: black;
    padding: 2vh 2vw;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
    width: 20px;
    margin: 2vw;
   
 
    
}
#PageAccueil{
    background-color: rgb(183, 189, 187) ;
   height: 100vh;
}
#parcours{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    
}
.titre{
    text-align: center;
    height: 100%;
   
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#para{
    text-align: center;
}
.page2{
    /*background-color: rgb(98, 99, 99) ;*/
    justify-content: space-between;
    margin-top: 2%;
    font-family: cursive;
}

.carte{
    width: 96%;
    padding: 2vw;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 2vw;
}
.bacc{
     width: 96%;
    padding: 2vw;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 2vw;
}

#compet{
    background-color: rgb(44, 44, 42); border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#titre2{
    color: red;
    text-align: center;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     height: 100%;
     font-size: 40px;
}

#info{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: green;
   
}

#compet1{
font-family: 'Courier New', Courier, monospace;
font-size: 25px;
color: beige;
margin-left: 2vw;
}

#langue{
  font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: green;
   margin-left: 2vw;  
}

.langue{
    font-family: 'Courier New', Courier, monospace;
font-size: 25px;
color: beige;
margin-left: 2vw;
}

#ling{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: green;
    margin-left: 2vw;
}

.desc{
    text-align: center;
    width: 60%;
    font-size: 25px;
}

#ccc{
    color: red;
    text-align: center;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     height: 100%;
     font-size: 40px;
}

#cont{
    background-color: rgb(170, 159, 149);
    border-radius: 15px;
}
#con{
    display: flex;
    justify-content: space-between;
    margin: 3vw;
    height:50% ;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#dernier{
    font-size: 30px;
}

#ctes{
    font-size: 25pX;
}
